*{
    margin: 0%;
    padding: 0%;
}

body{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/livros-11052023.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 47, 45);
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 10%;    
}

table{
    border: 2px solid #fff;
    border-color: blueviolet;
    width: 50%;
    margin-left:500px;

}
td, th{
border: 2px solid;
border-color: #fff;
}
td{
    text-align: center;
    color: #fff;
    background-color: rgb(74, 47, 129);
}