*{
    margin: 0px;
    box-sizing: border-box;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(79, 97, 180);
    color: #fff;
    font-family:cursive;
    padding: 15px 50px;
    height: 50px;
}
header > img {
    width: 35px;
    height: 35px;
}
body{
    background-color: rgb(67, 75, 104);
    color: #fff;
    text-align: center;
}
.introducao{
    display: flex;
    justify-content: center;
}



