*{
    margin: 0px;
    box-sizing: border-box;
    border: 1px block #f00;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(79, 97, 180);
    color: #fff;
    font-family:cursive;
    padding: .7em 3em;
}
header > img {

    width: 5%;
    height: 5%;

}
body{
    background-color: rgb(67, 75, 104);
    color: #fff;
    text-align: center;
}




