*{
    margin: 0px;
    box-sizing: border-box;
    border: 1px solid red;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(79, 97, 180);
    color: #fff;
    font-family:cursive;
    padding: .7em 3em;
}
header > img {

    width: 50px;
    height: 50px;

}
body{
    background-color: rgb(67, 75, 104);
    color: #fff;
    text-align: center;
}
.introducao-imagem-gatos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 50%;
}
img {
    backdrop-filter: blur(20px);
}



