@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid rgba(245, 0, 0, 0.438);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    max-width: 100vw;
    font-weight: bolder;
}
    body{
        background-color: rgb(189, 217, 236);
        background-image: url(../img/predio2-removebg-preview.png);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: 400px;
    }
nav{
    background-color: #090e29;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 60px;
    width: 100vw;
    
}
ul{ 
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    position: absolute;
    width: 100vw;
    list-style: none;

}

a{
    color: #fff;
    font-size: 25px;
    border-radius: 110px;
    padding: 2px 20px;
    transition: 0.4s;
    text-decoration: none;
}
a:hover{
    color: rgb(1, 8, 27);
    background-color: #c8d3ec;
    transition: 0.4s;
    
}
#link-tabela{
    text-decoration: underline;
}
body{
    background-color: #fae2b5;
    background-image: url(../img/predio2-removebg-preview.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 400px;
}
main{
    max-width: 100vw;
    display: flex;
    flex-direction: column;

}
h1{
     color: rgb(155, 70, 9);
    position: relative;
    margin-top: 60px;
    font-size: 45px;
    text-align: center;
}
.imagempo{
    width: 400px;
    height: 400px;
}
#imagem{
    width: 100%;
    height: 80%;
    margin-top: 75px;
}
#vish{
    display: flex;
    justify-content: space-around;
}
table{
    background-color: aliceblue;
    border-color: brown;
    border: 2px solid black;
    width: 800px;
    margin: 20px;

}
td, th{
    border: 2px solid;
    border-color: black;
    height: 50px;
    text-align: center;
}
th {
    color: azure;
    
    background-color: black;
}
footer{
    background-image: linear-gradient( #ffffff00, rgb(160, 111, 6));
    height: 400px;
}