*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    border: 1px solid rgba(255, 0, 0, 0.397);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;

}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 65px;
    width: 100vw;
    background-color: #090e29;
}
ul{
    display: flex;
    justify-content: space-evenly;
    width: 100vw;

}
a{
    color: #fff;
    font-size: 25px;
    border-radius: 110px;
    padding: 2px 20px;
    transition: 0.4s;
}
a:hover{
    color: rgb(1, 8, 27);
    background-color: #d2ddf5;
    transition: 0.2s;
}

main{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg,rgb(23, 21, 44),rgb(27, 45, 68));
}

.first-title{
    height: 500px;
    text-align: center;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
}


footer{
    background-color: #051027;
    color: rgb(131, 140, 160);
}