@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* border: 1px solid red;   */
    font-family: 'Poppins', sans-serif;
}
:root{
    --pinklight: #e5b6c9;
    --pink: #d81566;
    --pinkdark: #57143d;
    --purplelight:#c9c1e0;
    --purple: #837ad8;
    --grey: #d6dbe4;
    --black: #0b001f;
}
body{
    background-color: var(--grey);
}
header{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    position: sticky;
    top: 0;
    z-index: 2;

}
header ul{
    display: flex;
    height: min-content;
    gap: 2em;
}
header ul li{
    list-style-type: none;
}
.header-link{
    padding: 0 .25em;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    position: relative;
}
.header-link:after{
    content: '';
    width: 0;
    border-bottom: 2px solid var(--pink);
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}
.header-link:hover:after {
    width: 100%;
    transition: .3s;
}
.atual-link{
    border-bottom: 2px solid var(--purple);
}

.icon-site{
    width: 75px;
    aspect-ratio: 1;
}

main{
    background-color: var(--black);
    height: 90vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#form-suporte{
    height: 32em;
    width: 25em;
    border-radius: 7px;
    box-shadow: 0 0 1.5em #020003;
    padding: 15px;
    background-color: #fff;
}
#form-suporte fieldset{
    height: 100%;
    border: none;
    text-align: center;

}
fieldset span{
    font-size: 15px;
    color: #62576b;
}
.form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(-10px);
}
.form-items label{
    margin-top: 10px;
}
input, textarea{
    width: 25em;
    background-color: var(--pinkdark);
    border-radius: 7px;
    border: 1px solid #fff;
    color: #fff;
    padding: .3rem 1rem;
}
input:focus, textarea:focus{
    border: 1px solid #6e00c9be;
}
textarea{
    min-width: min-content;
    max-width:min-content;
    min-height: min-content;
    max-height:min-content;
}
.btns{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 5px;
}
.btns button{
    width: 40%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#clear{
    background-color: var(--pinklight);
    transition: .25s;
}
#clear:hover{
    background-color: #f097ba;
    transition: .4s;
}
#send{
    background-color: var(--purplelight);
    transition: .25s;
}
#send:hover{
    background-color: #c1b3e2;
    transition: .4s;
}
/*/////////////////////////////////////////////////////////////*/
/* FOOTER */
footer{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
footer .water-mark{
    font-size: 3.5rem;
}
.water-mark img{
    transform: translateY(25%);
}