@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     /* border: 1px solid red;   */
    font-family: 'Poppins', sans-serif;
}
:root{
    --grey: #d6dbe4;
}
body{
    background-color: var(--grey);
}
header{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    position: sticky;
    top: 0;
    z-index: 2;

}
header ul{
    display: flex;
    height: min-content;
    gap: 2em;
}
header ul li{
    list-style-type: none;
}
.header-link{
    padding: 0 .25em;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    position: relative;
}
.header-link:after{
    content: '';
    width: 0;
    border-bottom: 2px solid #d81566;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}
.header-link:hover:after {
    width: 100%;
    transition: .3s;
}
.atual-link{
    border-bottom: 2px solid #837ad8;
}

.icon-site{
    width: 75px;
    aspect-ratio: 1;
}

main{
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#form-suporte{
    height: 27.5em;
    width: 25em;
    border-radius: 7px;
    box-shadow: 0 0 1.5em #d2a4f8;
    padding: 10px;
    background-color: #fff;
}
#form-suporte fieldset{
    height: 100%;
    border: none;
    text-align: center;

}
.form-items{
    display: flex;
    flex-direction: column;
    align-items: center;
}
input, textarea{
    background-color: #ecd8dd;
    border-radius: 7px;
    border: none;
    width: 25em;
}
/*/////////////////////////////////////////////////////////////*/
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
footer .water-mark{
    font-size: 3.5rem;
}
.water-mark img{
    transform: translateY(25%);
}