@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 2px solid #c40000a9;  */
    font-family: 'Poppins', sans-serif;
}
:root{
    --pinklight: #e5b6c9;
    --pink: #d81566;
    --pinkdark: #57143d;
    --purplelight:#c9c1e0;
    --purple: #837ad8;
    --purpledark: #581685;
    --grey: #d6dbe4;

    --heightcard: 350px;
}
body{
    background-color: var(--grey);
}
header{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    position: sticky;
    top: 0;
    z-index: 3;

}
header ul{
    display: flex;
    height: min-content;
    gap: 2em;
}
header ul li{
    list-style-type: none;
}
.header-link{
    padding: 0 .25em;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    position: relative;
}
.header-link:after{
    content: '';
    width: 0;
    border-bottom: 2px solid #d81566;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}
.header-link:hover:after {
    width: 100%;
    transition: .3s;
}
.atual-link{
    border-bottom: 2px solid #837ad8;
}
.icon-site{
    width: 75px;
    aspect-ratio: 1;
}

/*/////////////////////////////////////////////////////////////*/
main{
    position: relative;
}
/*/////////////////////////////////////////////////////////////*/
/*PRIMEIRO SLIDE*/
#slider{
    position: relative;
    overflow: hidden;
}
#slide-both{
    transition: .5s;
}
#slide-initial{
    width: 300vw;
    display: flex;
    overflow: hidden;
}
.slides{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slides img{
    width: 40em;
    aspect-ratio: 14 / 9;
}

#slide-top{
    position: relative;
}
#slide-base{
    position: absolute;
    z-index: -1;
    translate: 0 -100%;
}
#slide-base #slide-initial .slides{
    transform: scale(2.4);
    filter: blur(2px) grayscale(93%);
}

.arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
    padding: 0 3em;
}
.arrow{
    border-bottom: 2em solid transparent;
    border-top: 2em solid transparent;
    border-left: 1em solid transparent;
    border-right: 2em solid #38002391;
    cursor: pointer;
    transition: .4s;
}
.arrow:hover{
    border-right: 2em solid #140041da;
    transition: .2s;
}
#arrow-left{
    visibility: hidden; 
}
#arrow-right, #arrow-right2{
    transform: scale(-1);
}

body{
    height: 200vh;
}

/*/////////////////////////////////////////////////////////////*/
/*SEGUNDO SLIDE*/

#content{
    background-color: var(--purplelight);
}
#content h1{
    text-align: center;
    padding: 50px 0;
}
#allsecs-visible{
    width: 100%;
    overflow-x: hidden;
}
#allsecs{
    display: flex;
    width: 200vw;
    height: calc(var(--heightcard) + 5em);
    position: relative;
    pointer-events: none;
    transition: .8s;
}

.sec_products{
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
}
.cards{
    width: 13em;
    height: var(--heightcard);
    border-radius: 15px;
    background-color: #f5eff3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cards img{
    width: 100%;
}
.text-info{
    text-align: center;
}
.arrows2{
    position: absolute;
    width: 100%;
    height: var(--heightcard);
    justify-content: end;
    align-items: center;
    transition: .5s;
    display: flex;
    z-index: 2;
}
#arrow-left2{
    display: none;
}
/*/////////////////////////////////////////////////////////////*/
/* FOOTER */
footer{
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3em;
}
footer .water-mark{
    font-size: 3.5rem;
    user-select:none;
}
.water-mark img{
    transform: translateY(25%);
}