
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid red; */ 
    font-family: 'Poppins', sans-serif;
}
:root{
    --pinklight: #e5b6c9;
    --pink: #d81566;
    --pinkdark: #57143d;
    --purplelight:#d2c1e0;
    --purple: #837ad8;
    --purpledark: #581685;
    --grey: #d6dbe4;
}
body{
    background-color: var(--grey);
}
header{
    width: 100%;
    height: 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5em;
    background-color: #fff;
    box-shadow: 0 0 10px #000;
    position: sticky;
    top: 0;
    z-index: 2;

}
header ul{
    display: flex;
    height: min-content;
    gap: 2em;
}
header ul li{
    list-style-type: none;
}
.header-link{
    padding: 0 .25em;
    text-decoration: none;
    color: #000;
    font-size: 1.1rem;
    position: relative;
}
.header-link:after{
    content: '';
    width: 0;
    border-bottom: 2px solid #d81566;
    position: absolute;
    top: 100%;
    left: 0;
    transition: .5s;
}
.header-link:hover:after {
    width: 100%;
    transition: .3s;
}
.atual-link{
    border-bottom: 2px solid #837ad8;
}
#icon-site{
    width: 75px;
    aspect-ratio: 1;
}

/*/////////////////////////////////////////////////////////////*/
main{
    position: relative;
}
/*/////////////////////////////////////////////////////////////*/

#slider{
    position: relative;
    overflow: hidden;
}
#slide-both{
    transition: .5s;
}
#slide-initial{
    width: 300vw;
    display: flex;
    overflow: hidden;
}
.slides{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.slides img{
    width: 40em;
    aspect-ratio: 14 / 9;
}

#slide-top{
    position: relative;
}
#slide-base{
    position: absolute;
    z-index: -1;
    translate: 0 -100%;
}
#slide-base #slide-initial .slides{
    transform: scale(2.4);
    filter: blur(2px) grayscale(93%);
}

.arrows{
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: .5s;
}
.arrow{
    border-bottom: 2em solid transparent;
    border-top: 2em solid transparent;
    border-left: 1em solid transparent;
    border-right: 2em solid #00000091;
    margin: 0 3em;
    cursor: pointer;
    transition: .4s;
}
.arrow:hover{
    border-right: 2em solid #000000d7;
    transition: .2s;
}
#arrow-left{
    visibility: hidden; 
}
#arrow-right, #arrow-right2{
    transform: scale(-1);
}

body{
    height: 300vh;
}

/*/////////////////////////////////////////////////////////////*/

#content{
    overflow: hidden;
}
#content h1{
    text-align: center;
    margin: 50px 0;
}
#allsecs{
    display: flex;
    width: 200vw;
}
#all-products{
    display: flex;
    align-items: center;
}
.sec_products{
    width: calc(100% - 50px);
    display: flex;
    justify-content: space-evenly;
}
.cards{
    width: 13em;
    height: 350px;
    border-radius: 15px;
    background-color: #f5eff3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
#sec_masc .cards{
    background-color: var(--purple);
}
.arrows2{
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: space-between;
}
#arrow-left2{
    visibility: hidden;
}
